body {
  font-size: 36px;
  padding: 1rem;
}

/* Напиши код під цим рядком */
.up {
  text-decoration: overline wavy red;
}

.through {
  text-decoration: line-through dashed green;
}
.down {
  text-decoration: underline solid blue;
}
.no {
  text-decoration: none;
}

.combi {
  text-decoration: underline overline double gray;
}
